<div id="hero">

  <div class="container">

    <h1 class="hero-text animated fadeInDown">
      Make your first two years of college<br />
      the journey of your life
    </h1>

    <p class="sub-text animated fadeInDown">
      Equip yourself with foundations for your education,<br />
      your career, and your life.
    </p>

    <div class="cta animated fadeInDown">
      <%= link_to 'How it works', opportunities_how_it_works_path, class:'button-outline' %>
      <%= link_to 'Start a program', opportunities_how_it_works_path, class:'button' %>
    </div>

  </div>

</div>

<div id="features">

  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h2>We help transform communities.</h2>
        <p>
          A Rivendell program in your community equips your young people with tools they need to help
          build a thriving community.
        </p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Our innovative curriculum educates every aspect of the person.</h4>
        <p>
          While many colleges concentrate solely on developing the intellect, Rivendell believes the best curriculum
          is one that follows the precepts of <i>God's Great Commandment</i> and educates every aspect of the person.
        </p>
      </div>
      <div class="col-md-6 image" %>
        <%= holder_tag '402x242', '5 disciplines image', {}, class:'img-responsive' %>
      </div>
    </div>

    <%= content_tag :div, nil, class:'divider' %>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>We equip you with the training and best practices to bring Rivendell to your community.</h4>
        <p>
          Our business model enables your community to operate a self-sustaining, for-profit college
          <b>that is not dependent on resource development campaigns.</b>
        </p>
      </div>
      <div class="col-md-6 image" %>
        <%= holder_tag '371x246', 'business model image', {}, class:'img-responsive' %>
      </div>
    </div>

  </div>

</div>

<div id="pricing">

  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Three ways to bring Rivendell to your community:</h3>
      </div>
    </div>
    <div class="row charts">

      <div class="col-md-4">
        <div class="chart first">
            <div class="quantity">
              <%= content_tag :span, '$', class:'dollar' %>
              <%= content_tag :span, '500', class:'price' %> <br />
              <%= content_tag :span, 'per student/semester', class:'period' %>
            </div>
            <%= content_tag :div, 'High School AA', class:'plan-name' %>
            <div class="specs">
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chart featured">
          <%= content_tag :div, 'Most popular', class:'popular' %>
          <div class="quantity">
            <%= content_tag :span, '$', class:'dollar' %>
            <%= content_tag :span, '1,500', class:'price' %> <br />
            <%= content_tag :span, 'per student/semester', class:'period' %>
          </div>
          <%= content_tag :div, 'Foundations AA', class:'plan-name' %>
          <div class="specs">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="chart last">
          <div class="quantity">
            <%= content_tag :span, '$', class:'dollar' %>
            <%= content_tag :span, '2,500', class:'price' %> <br />
            <%= content_tag :span, 'per student/semester', class:'period' %>
          </div>
          <%= content_tag :div, 'Foundations BA', class:'plan-name' %>
          <div class="specs">
          </div>
        </div>
      </div>

    </div>

  </div>

</div>