<div id="hero">
  <div class="container">

    <div class="row" style="overflow:hidden;">

      <div class="col-md-6 image">
        <%= holder_tag '482x322', 'services we offer image', nil, class:'img-responsive animated fadeInUp' %>
      </div>

      <div class="col-md-6 info">
        <h3>Rivendell Education Solutions</h3>
        <p>
          We need about 30 words about the completeness of the Rivendell education solutions.
        </p>
      </div>

    </div>

  </div>
</div>

<div id="tabs">
  <div class="container">

    <div class="row">
      <div class="col-md-12 hexagons">
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon active' %>
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon' %>
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon' %>
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon' %>
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon' %>
        <%= content_tag :div, icon('connectdevelop', nil, class:'icon'), class:'hexagon' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="sections">

          <div class="section active">
            <h4>Service 1</h4>
            <p>
                This is the service we lead with.  We need about 30 words on what this service is and how it can help
                a community.
            </p>
          </div>

          <div class="section">
            <h4>Service 2</h4>
            <p>We need 30-40 words on service 2 and why it's important.</p>
          </div>

          <div class="section">
           <h4>Service 3</h4>
           <p>We need 30-40 words on service 3 and why it's important.</p>
          </div>

          <div class="section">
            <h4>Service 4</h4>
            <p>We need 30-40 words on service 4 and why it's important.</p>
          </div>

          <div class="section">
            <h4>Service 5</h4>
            <p>We need 30-40 words on service 5 and why it's important.</p>
          </div>

          <div class="section">
            <h4>Service 6</h4>
            <p>We need 30-40 words on service 6 and why it's important.</p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div id="grid-first">
  <div class="container">

    <div class="row header">
      <h3>Let our experts help you</h3>
      <p>Need 10-15 words on how we have a 'launch team' of experts.</p>
    </div>

    <div class="row sections">

      <div class="col-md-4">
        <div class="section">
          <%= content_tag :div, holder_tag('179x140', 'experts 1 image', nil, class:'img-responsive'), class:'pic' %>
          <div class="info">
            <strong>Expertise attribute 1</strong>
            <p>We need 15 words on expertise attribute #1.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="section">
          <%= content_tag :div, holder_tag('179x140', 'experts 2 image', nil, class:'img-responsive'), class:'pic' %>
          <div class="info">
            <strong>Expertise attribute 2</strong>
            <p>We need 15 words on expertise attribute #2.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="section">
          <%= content_tag :div, holder_tag('179x140', 'experts 3 image', nil, class:'img-responsive'), class:'pic' %>
          <div class="info">
            <strong>Expertise attribute 3</strong>
            <p>We need 15 words on expertise attribute #3.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="features-hover">
  <div class="container">

    <div class="row">
      <div class="col-md-12 images">
        <%= image_tag 'services5.png', class:'img-responsive active' %>
        <%= image_tag 'services6.png', class:'img-responsive' %>
        <%= image_tag 'services7.png', class:'img-responsive' %>
      </div>
    </div>

    <div class="row features">

      <div class="col-md-4">
        <div class="feature active">
          <strong>Infusionsoft</strong>
          <p>We need 15 words on why Infusionsoft will help recruiting.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <strong>Populi</strong>
          <p>We need 15 words on why Populi will help manage cohorts.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <strong>RCTM</strong>
          <p>We need 15 words on why RCTM will help students master critical thinking.</p>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="cta">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <h4>Bring a Rivendell education to your community!</h4>
          <%= mail_to 'bobbynorment@rivendelleducation.com', 'Expand with us', class:'button button-small' %>
        </div>
      </div>
    </div>

  </div>
</div>

