<div class="row">

  <div class="col-sm-6 menu">
    <ul>
      <%= content_tag :li, link_to('Products', products_path) %>
      <%= content_tag :li, link_to('Services', services_path) %>
      <%= content_tag :li, link_to('Opportunities', opportunities_path) %>
      <%= content_tag :li, link_to('Contact us', contact_path) %>
    </ul>
  </div>

  <div class="col-sm-6 copyright">
    Copyright &copy; Rivendell Education Company | Website by <%= link_to 'Red Sherpa', 'http://www.sherpa.red', target:'_blank' %>
  </div>

</div>