<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to @company_name, root_path, class:'navbar-brand' %>
</div>

<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

  <ul class="nav navbar-nav">

    <%= content_tag :li, link_to('About', about_path) %>

    <%= content_tag :li, link_to('Products', products_path) %>

    <%= content_tag :li, link_to('Services', services_path) %>

    <%= content_tag :li, link_to('Opportunities', opportunities_path) %>

    <%= content_tag :li, link_to('Contact', new_contact_path) %>

  </ul>

</nav>