<div class="top-bar">

    <div class="container">

      <ul id="social-nav-top" class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs m-t-xs">
        <%= content_tag :li, link_to(icon('twitter'), @twitter_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('facebook'), @facebook_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('pinterest'), @pinterest_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('google-plus'), @google_plus_url, target:'_blank') %>
      </ul>

      <%= link_to 'Apply to a Rivendell program', 'http://rivendell.sdcc.edu/admissions/apply_now', target:'_blank', class:'btn btn-theme pull-right navbar-btn' %>

    </div>

</div>

<div class="header-main container">

    <h1 class="logo col-md-6 col-sm-4">
        <%= link_to @company_name, root_path %>
    </h1>

    <div class="info col-md-6 col-sm-8">

        <ul class="menu-top navbar-right hidden-xs">
            <%= content_tag :li, link_to('Home', root_path), class:'divider' %>
            <%= content_tag :li, link_to('Contact', contact_path) %>   <!-- TODO: CONTACT PAGE -->
        </ul>

        <%= tag :br %>

        <div class="contact pull-right">
            <%= content_tag :p, icon('phone', "Call us today at #{@phone_number}"), class:'phone' %>
            <%= content_tag :p, icon('envelope', @inquiry_email), class:'email' %>
        </div>

    </div>

</div>