<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

    <head>
        <%= render 'layouts/head' %>
    </head>

    <body>

        <div class="wrapper">

            <!-- HEADER -->
            <header class="header">
                <%= render 'layouts/header' %>
            </header>

            <!-- NAV -->
            <nav class="main-nav" role="navigation">
                <%= render 'layouts/main_nav' %>
            </nav>

            <!-- CONTENT -->
            <div class="content container">

                <div class="page-wrapper">

                    <header class="page-heading clearfix">
                        <h1 class="heading-title pull-left"><%= @page_title %></h1>
                        <div class="breadcrumbs pull-right">
                            <ul class="breadcrumbs-list">
                                <li class="breadcrumbs-label">You are here:</li>
                                <li>
                                    <%= link_to 'Home', root_path %>
                                    <%= icon 'angle-right' %>
                                </li>
                                <li><%= @page_title %>
                            </ul>
                        </div>
                    </header>

                    <div class="page-content">
                        <%= yield %>
                    </div>

                </div>

            </div>

        </div>

        <footer class="footer">
            <%= render 'layouts/footer' %>
        </footer>

    </body>



</html>